.navbar {
    width: 100vw;
    position: fixed;
    top: 0px;
    background: #121212;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.navbar .left, .navbar .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .left {
    padding-left: 20vw;
}

.navbar .right {
    flex: 1;
    padding-right: 20vw;
    text-align: right;
}

@media(max-width: 1000px) {
    .navbar .left {
        padding-left: 10vw;
    }
    .navbar .right {
        padding-right: 10vw;
    }
}