* {
  margin: 0px;
  padding: 0px;
}

.btn {
  padding: 12px;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  outline: none;
  color: white;
  background-color: #3700b3;
  cursor: pointer;
} 

a {
  color: white;
  text-decoration: none;
}